*{
    box-sizing: border-box;
}

html{
    font-size: 16px;

    @include tablets{
        font-size: 15px;
    }

    @include phones{
        font-size: 12px;
    }
}

html, body{
    height: 100%;
}


body{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    margin: 0 auto;
    position: relative;
    display: flex;
    max-width: rem(940px);
    width: 95%;
}

.container-full-height{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: nowrap;
min-height: rem(650px);
align-items: center;
}

.container-center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: rem(650px);
    align-items: center;
}

.wrapper{
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.section {
    min-height: rem(650px);
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
  
    &_centered {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .btn{
    border-radius: rem(5px);
    padding: rem(11px) rem(12px);
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: Ubuntu;
    color:#ffffff;
    font-size: rem(13px);
    font-weight: 500;
}