* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  width: rem(940px);
  margin: 0 auto; }

.container-full-height {
  height: 100%; }

.wrapper {
  position: relative;
  height: 100%;
  min-width: rem(940px);
  min-height: 100%;
  width: 100%; }

.section {
  min-height: rem(650px); }
  .section_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.btn {
  border-radius: rem(5px);
  padding: rem(11px) rem(12px);
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 500; }
