@import url(./normalize.css);
@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #fff; }

.container {
  width: 940px;
  margin: 0 auto; }

.wrapper {
  position: relative;
  height: 100%;
  min-width: 940px;
  min-height: 100%;
  width: 100%; }

.section {
  min-height: 650px; }
  .section_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.btn {
  border-radius: 5px;
  padding: 11px 12px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500; }

.main-contant {
  height: 100%; }

.main-section {
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: initial;
  background: url(../../images/video-bg.png) center center/cover no-repeat;
  color: #fff; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7px 0;
  color: #fff;
  font-family: Ubuntu;
  font-size: 12px;
  text-transform: uppercase; }

.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sidebar__menu {
  display: inline-block;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  color: #fff; }
  .menu__item::before {
    content: " ";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 15px; }
  .menu__item:first-child::before {
    content: none; }

.btn__reserve {
  background: #e45028;
  margin-right: 70px; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.made {
  font-family: gagalin;
  color: #f9b43b;
  font-size: 72px; }

.made__two {
  font-family: lifehack;
  color: #ffffff;
  font-size: 65px;
  line-height: 65px; }

.img__made {
  margin-top: 110px; }

.img__burger {
  position: relative;
  margin-left: 40px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  margin-top: -30px; }

.drops {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 60px;
  padding-right: 13px; }

.navigations {
  position: fixed;
  right: 43px;
  top: 13%; }

.navigation__link {
  position: relative;
  display: block;
  margin: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%; }
  .navigation__link:before {
    position: absolute;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .navigation__link_active:after {
    position: absolute;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.scroll {
  position: absolute;
  left: 50%;
  bottom: 40px; }

.section__best {
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: initial;
  background: url(../../images/bg.png) center center/cover no-repeat;
  color: #fff; }

.head__best {
  font-family: Gagalin;
  color: #2f3234;
  font-size: 71.73px;
  text-align: center;
  padding-top: 105px; }

.best__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  margin-top: 33px;
  padding: 0 90px 0 90px; }

.text__best {
  font-family: Lifehack;
  color: #2f3234;
  font-size: 24px;
  margin-top: 10px;
  line-height: 28px; }

.desc__best {
  font-family: Ubuntu;
  color: #2f3234;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px; }

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  background: #000000;
  position: relative; }

.comments__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.comments__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .comments__item:hover .comments__hover {
    opacity: 1; }

.comments__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(80, 80, 80, 0.7);
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  text-align: left;
  padding: 50px 20px; }

.btn__send {
  background-color: #2f3234;
  margin-top: 17px; }

.name__comments {
  font-family: Gagalin;
  color: #ffffff;
  font-size: 14px; }

.desc__comments {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px; }
