.section-best{
    min-width: initial;
    background: url(../../images/bg.png) center center / cover no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head__best{
    font-family: Gagalin;
    color:#2f3234;
    font-size: rem(72px);
    text-align: center;
    width: 100%;
    margin-top: rem(-30px);
}

.best-menu{
    display: flex;
    text-align: center;
    margin-top: rem(20px);
    @include phones{
        flex-direction: column;
    }

}

.best__icon-pic {
    width: 90%;
    height: rem(100px);
    @include phones{
        width: rem(100px);
        height: rem(100px);
        margin-right: rem(20px);
    }
    svg {
      max-width: 95%;
    }
}

.best-menu__item{
    padding: rem(10px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    text-align: center;
    @include phones{
        flex-direction: row;
    }

}

.best-menu__title{
    font-family: Lifehack;
    color:#2f3234;
    font-size: rem(24px);
    line-height: rem(28px);
    align-items: center;
    padding-top: rem(15px);
}

.best-menu__text{
    font-family: Ubuntu;
    color:#2f3234;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    padding-top: rem(14px);
    align-items: center;

}

.best__desc{
    @include phones{
        text-align: left;
    }
}

