.section-comments{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background: #000000;
    position: relative;
}    
   
.comments-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.comments-list__item{
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;
    filter: grayscale(100%);  
    @include tablets{
        width: 50%;
        height: 25%;
    }
}

.comments-list__item-active{
        .comments-hover{
            opacity: 1;
        }
    }

.comments-hover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#505050, .7);
        opacity: 0;
        transition: opacity .3s;
        text-align: left;
        padding: rem(50px) rem(20px);
}

.btn__send{
    background-color: #2f3234;
}
    
.comments-hover__name{
    font-family: Gagalin;
    color:#ffffff;
    font-size: rem(14px);
    @include tablets{
        padding-bottom: rem(20px);
    }
}

.comments-hover__desc{
    font-family: Ubuntu;
    color:#ffffff;
    font-size: rem(14px);
    font-weight: 300;
    margin-top: rem(30px);
    margin-bottom: rem(20px);
    @include phones{
        display: none;
    }
}
