.main-contant{
    height: 100%;
}

.main-section{
    min-width: initial;
    background: url(../../images/video-bg.png) center center / cover no-repeat;
    color: #fff; 
}

// header

.header{
    display: flex;
    color: #fff;
    font-family: Ubuntu;
    font-size: rem(12px);
    text-transform: uppercase;
    padding: rem(13px);
    justify-content: space-between;
    width: 100%;
}

.header__sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar{
        @include tablets{
            display: none;
    }
}

.sidebar-list {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin-left: rem(45px);
}

.sidebar-list__menu{
    display: flex; 
    white-space: nowrap;
}

.sidebar-list__menu-item{
    display: flex;
    align-items: center;
    margin-left: rem(15px);
    color: #fff;

    &::before{
        content:" ";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: rem(15px);
    }

        &:first-child::before{
            content: none;
        }
}

.btn__reserve{
    background: #e45028;
    margin-left: rem(20px);
}

.button {
    display: flex;
    align-items: center;
}
  
.sidebar-list {
      flex: 1;
      text-align: right;
      margin-right: rem(20px);
}

// images
.page{
display: flex;
}

.page__content{
    display: flex;
    width: 100%;

    @include tablets{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 12%;
    }

    @include phones {
        margin-top: rem(28px);
    }
}

.made{
    font-family: gagalin;
    color:#f9b43b;
    font-size: rem(72px);

    @include phones {
        margin-top: rem(65px);
        font-size: rem(65px);

    }
}

.made__two{
    font-family: lifehack;
    color:    #ffffff;
    font-size: rem(65px);
    line-height: rem(65px);
    @include phones{
        font-size: rem(65px);
    }
}

.img__made{
    margin-top: rem(40px);
    margin-right: rem(35px);

    @include tablets{
        width: auto;
        align-items: center;
        margin-top: 0;
        margin-right: 0;
    }


}

.img__burger{
    position: relative;
    margin-left: 0;
    margin-top: rem(-80px);
    width: 100%;

    @include tablets{
        width: auto;
    }
    @include phones{
        width: 100%;
        margin-top: 0;
    }
}

.burger{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 1000%;

}

// right__menus

.navigations{
    position: fixed;
    right: rem(65px);
    top: 13%;

    @include tablets{
        display: none;
    }
}

.navigation {
    &__link {
    position: relative;
    display: block;
    margin: rem(3px);
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: rem(6px);
      height: rem(6px);
      background-color: #fff;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &_active {
        &:after {
        position: absolute;
        content: '';
        display: block;
        width: rem(16px);
        height: rem(16px);
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
      }
    }
}

.scroll{
    left: 50%;
    margin-bottom:rem(80px);
}