.main-contant {
  height: 100%; }

.main-section {
  min-width: initial;
  background: url(../../images/video-bg.png) center center/cover no-repeat;
  color: #fff; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: Ubuntu;
  font-size: rem(12px);
  text-transform: uppercase;
  padding: rem(13px);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sidebar-list {
  display: inline-block;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: rem(45px); }

.sidebar-list__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar-list__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: rem(15px);
  color: #fff; }
  .sidebar-list__menu-item::before {
    content: " ";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: rem(15px); }
  .sidebar-list__menu-item:first-child::before {
    content: none; }

.btn__reserve {
  background: #e45028;
  margin-left: rem(20px); }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.made {
  font-family: gagalin;
  color: #f9b43b;
  font-size: rem(72px); }

.made__two {
  font-family: lifehack;
  color: #ffffff;
  font-size: rem(65px);
  line-height: rem(65px); }

.img__made {
  margin-top: rem(40px); }

.img__burger {
  position: relative;
  margin-left: rem(20px);
  margin-top: rem(-80px); }

.navigations {
  position: fixed;
  right: rem(33px);
  top: 13%; }

.navigation__link {
  position: relative;
  display: block;
  margin: rem(3px);
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%; }
  .navigation__link:before {
    position: absolute;
    content: '';
    display: block;
    width: rem(6px);
    height: rem(6px);
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .navigation__link_active:after {
    position: absolute;
    content: '';
    display: block;
    width: rem(16px);
    height: rem(16px);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.scroll {
  left: 50%;
  margin-bottom: rem(80px); }
